* {
  margin: 0;
}

html {
  height: 100%;
}

main {
  display: flex;
  flex-flow: column wrap;
}


h1{
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 50px;
  color: #00A79D;
}

.box-title-grey {
  color: #6D6E71;
}

.box-title-teal,
.box-title-grey,
.idea-box-header {
font-family: "Roboto Slab";
font-weight: 700;
}

.top{
  height: 38.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #E5F3F2;
}

.idea-input{
  display: flex;
  flex-flow: column wrap;
  width: 55%;
}

.idea-input-title,
.idea-input-body,
.search-bar-input{
  font-size: 24px;
  padding-left: 10px;
}

.idea-input-save-button{
  background-color: #00A79D;
  color: #FFF;
  border: none;
  font-size: 16px;
  height: 35px;
}

.idea-input-save-button:hover {
  background-color: #045E55;
}

.idea-input-title,
.idea-input-body,
.idea-input-save-button {
  margin-top: 10px;
}

.box-title{
  color: #6d6e71;
}

.bottom {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  background-color: #FFF;
  height: 61.5vh;
}

.search-bar {
  font-size: 24px;
  width: 55%;
  margin: 5px 0 10px 0;
}

.search-bar-input{
  width: 100%;
}

.idea-box {
  width: 55%;
  margin-top: 10px;
}

.idea-box-top-line{
  display: flex;
  justify-content: space-between;
}

.idea-box-header{
  font-size: 24px;
  color: #6D6E71;
}

.idea-box-bottom-line{
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #D1D3D4;
}
.idea-box-text{
  margin: 5px 0 10px 0;
  font-size: 16px;
  color: #939598;
}
