/* ==============================================

  =====================
  = TABLE OF CONTENTS =
  =====================

  1. Top
    * Ideabox Logo Header
    * Idea Input Form
  2. Middle
    * Search Bar
  3. Bottom
    * Ideabox Style
    * Ideabox Top Line
    * Ideabox Text
    * Ideabox Bottom Line
  4. Media Queries
    * 950 Media Query
    * 800 Media Query

  =========
  = FONTS =
  =========

  1. Open Sans, Regular 700
  2. Roboto Slab, Bold 700

  =================
  = COLOR PALLETE =
  =================

  #E5F3F2 - Top background color
  #00A79D - Ideabox logo text teal
  #6D6E71 - Ideabox logo text grey
  #00A79D - Save Button
  #FFF    - Save Button text color
  #045E55 - Save Button:hover
  #6D6E71 - Save Button disabled
  #6D6E71 - Idea Box Title
  #939598 - Idea Box Body

============================================== */

* {
  margin: 0;
}

html {
  height: 100%;
}

main {
  display: flex;
  flex-flow: column wrap;
}

/* =======
   = TOP =
   ======= */

 .top{
   height: 38.5vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
   background-color: #E5F3F2;
 }

/* IDEABOX LOGO HEADER */
h1{
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 50px;
  color: #00A79D;
}

.box-title{
  color: #6d6e71;
}

.box-title-grey {
  color: #6D6E71;
}

.box-title-teal,
.box-title-grey,
.idea-box-header {
font-family: "Roboto Slab";
font-weight: 700;
}

/* IDEA INPUT FORM */
.idea-input{
  display: flex;
  flex-flow: column wrap;
  width: 55%;
}

.idea-input-body {
  display: flex;
  align-items: flex-start;
}

.idea-input-title,
.idea-input-body,
.search-bar-input{
  font-size: 24px;
  padding-left: 10px;
  height: 35px;
}

.idea-input-save-button{
  background-color: #00A79D;
  color: #FFF;
  border: none;
  font-size: 16px;
  height: 35px;
}

.idea-input-save-button:hover {
  background-color: #045E55;
}

.idea-input-save-button:disabled {
  background-color: #6D6E71;
}

.idea-input-title,
.idea-input-body,
.idea-input-save-button {
  margin-top: 10px;
}

/* ==========
   = MIDDLE =
   ========== */

.middle {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* SEARCH BAR */

.search-bar {
  display: flex;
  flex-flow: column wrap;
  width: 55%;
  margin: 5px 0 10px 0;
}

/* ==========
   = BOTTOM =
   ========== */

.bottom {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  background-color: #FFF;
  height: 51.5vh;
  overflow-y: scroll;
}

/* IDEABOX STYLE */
.idea-box {
  width: 55%;
  margin-top: 10px;
  flex: none;
}

.icon {
  height: 28px;
}

.idea-box-id-hidden {
 display: none;
}

/* IDEABOX TOP LINE */
.idea-box-top-line{
  display: flex;
  justify-content: space-between;
}

.idea-box-header{
  font-size: 24px;
  color: #6D6E71;
  line-height: 28px;
  margin-right: 25px;
}

/* IDEABOX TEXT */
.idea-box-text{
  margin-top: 15px;
  margin-right: 25px;
  font-size: 16px;
  color: #939598;
  font-family: "Open Sans";
  line-height: 18px;
}

/* IDEABOX BOTTOM LINE */
.idea-box-bottom-line{
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #D1D3D4;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
}

.idea-box-downvote-button,
.idea-box-quality {
  margin-left: 15px;
}

.idea-box-quality,
.idea-box-quality-value {
  font-family: "Open Sans";
  color: #6D6E71;
  white-space: pre-wrap;
}

.idea-box-bottom-line p {
  font-family: 'Roboto Slab', serif;
}

/* =================
   = MEDIA QUERIES =
   ================= */

/* 950 MEDIA QUERY */
@media (max-width: 950px){

  .top {
    height: 50vh;
  }

  .idea-input {
    width: 65%;
  }

  .search-bar {
    width: 65%;
  }

  .idea-box {
    width: 65%;
  }

  .idea-input-body {
    height: 75px;
  }

/* 800 MEDIA QUERY */
@media (max-width: 800px){

  .top {
    height: 50vh;
  }
  .idea-input {
    width: 90%;
  }

  .search-bar {
    width: 90%;
  }

  .idea-box {
    width: 90%;
  }

  .box-title-teal {
    margin-bottom: -5px;
  }

  .idea-input-body {
    height: 100px;
  }
